.count-title{
	height: 50px;
	line-height: 50px;
	background: #333;
}
.count-title ul li{
	width: 12.5%;
	float: left;
	text-align: center;
}
.count-title ul li a{
	color: #fff;
}
.count-title i{
	content: '';
	height: 28px;
	float: right;
	margin-top: 14px;
	border-right: 1px solid #f5a343;
}
.count-title ul li:hover{
	background: #f9d423;
	color: #333;
}
.count-con{
	margin-top: 30px;
}
.con-title{
	font-size: 15px;
	font-weight: bold;
}
.con-title img{
	margin-right: 10px;
}
.count-table{
	width: 100%;
	margin-top: 15px;
	margin-bottom: 60px;
	border: 1px solid #ccc;
	border-top: 2px solid #f5a343;
}
.count-table tr td,.count-table tr th{
	text-align: center;
}
.count-table thead tr{
	background: #eee;
}
.count-table tr{
	height: 36px;
	line-height: 36px;
}
.count-table tbody tr:nth-child(odd){
	background: #f9f9f9;
	border-bottom: 1px solid #ccc;
	font-size: 12px;
}
.count-table tbody tr:nth-child(even){
	background: #fff;
	border-bottom: 1px solid #ccc;
	font-size: 12px;
}

/**
 * 安全中心设置
 */
.count-table1{
	width: 100%;
	margin-top: 15px;
	margin-bottom: 60px;
	border: 1px solid #ccc;
	border-top: 2px solid #f5a343;
}
.count-table1 tr td{
	height: 55px;
	line-height: 55px;
	text-align: center;
	border-bottom: 1px solid #ccc;
	background: #f5f5f5;
	width: 20%;
}
.count-table1 tr:nth-child(even) td{
	text-align: left;
	padding-left: 20px;
	background: #fff;
}
.count-table1 tr:last-child td{
	height: 55px;
	line-height: 55px;
	width: 20%;
	text-align: center;
	border-bottom: 1px solid #ccc;
	background: #f5f5f5;
	padding-left: 0;
}


/**
 * 银行卡管理
 */
.count-table2{
	width: 100%;
	margin-bottom: 60px;
	margin-top: 15px;
	border: 1px solid #ccc;
	border-top: 2px solid #f5a343;
}
.count-table2 tr td,.count-table2 tr th{
	text-align: left;
	padding-left: 20px;
}
.count-table2 thead tr{
	background: #eee;
}
.count-table2 tr{
	height: 36px;
	line-height: 36px;
}
.count-table2 tbody tr:nth-child(odd){
	background: #f9f9f9;
	border-bottom: 1px solid #ccc;
	font-size: 12px;
}
.count-table2 tbody tr:nth-child(even){
	background: #fff;
	border-bottom: 1px solid #ccc;
	font-size: 12px;
}


.blue{
	color: #019ed5;
	cursor: pointer;
}
.cursor{
	cursor: pointer;
}
.name1,.name2,.name3{
	display: none;
}
@media screen and (max-width: 620px){
	.count-title{
		height: 100px;
		line-height: 50px;
	}
	.count-title ul li{
		width: 25%;
	}
}